{% macro lights_in_area(area, state) %}
{{
  area_entities(area)
  | select('match', 'light.')
  | select('is_state', state)
  | list
}}
{% endmacro %}

{% macro lights_on_in_area(area) %}
{{
  area_entities(area)
  | select('match', 'light.')
  | select('is_state', 'on')
  | list
  | count
}}
{% endmacro %}
